*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html, body{
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: '微软雅黑';
}

.buger-container{
	position: relative;
	width: 100%;
	height: 100%;
}
.buger-container .header{
	width: 100%;
    height: 60px;
    min-width: 800px;
    background: #4a4a4a;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.buger-container .header .logo{
	width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 36px;
    font-size: 20px;
    color: #fff;
}
.buger-container .header .user-menu{
	display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding-right: 36px;
}
.buger-container .header .user-menu i.iconfont{
	font-size: 22px;
    color: #fff;
    cursor: pointer;
}

.buger-container .navbar{
	position: absolute;
    left: 0;
    top: 60px;
    bottom: 0;
    width: 200px;
    overflow-y: auto;
    background:rgba(245,245,245,1);
    color: #ddd;
    padding: 13px 0 21px;
}
.buger-container .navbar .menu{}
.buger-container .navbar .menu .menu-item{
	color: rgba(74,74,74,1);;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0 4px;
    font-size: 14px;
}
.buger-container .navbar .menu .menu-item:hover{
	background: rgba(236,236,236,1);
	cursor: pointer;
}
.buger-container .navbar .menu .menu-item.menu-item-1{
	padding: 0 4px 0 40px;
}
.buger-container .navbar .menu .menu-item.hoverItem{
	background: rgba(236,236,236,1);
}

.buger-container .main{
	position: absolute;
    left: 200px;
    top: 60px;
    right: 0;
    bottom: 0;
    padding: 10px 40px;
    overflow: auto;
}
.buger-container .main .option-btn{
	margin: 30px 0 20px;
}
.buger-container .main .option-btn .bug-btn{
	width: 90px;
}
.buger-container .main .project-list .bug-list-head{
	height: 50px;
	color: #999;
}
.buger-container .main .project-list .bug-list-item{
	padding: 0 8px;
	min-height: 50px;
	color: #333;
}
.buger-container .main .project-list .bug-list-item:hover{
	background: #f2f2f2;
	cursor: pointer;
}
.buger-container .main .project-list .bug-list-head>div:nth-of-type(1),
.buger-container .main .project-list .bug-list-item>div:nth-of-type(1){
	width: 15%;
}
.buger-container .main .project-list .bug-list-head>div:nth-of-type(2),
.buger-container .main .project-list .bug-list-item>div:nth-of-type(2){
	width: 45%;
	padding: 10px 10px 10px 0;
}
.buger-container .main .project-list .bug-list-head>div:nth-of-type(3),
.buger-container .main .project-list .bug-list-item>div:nth-of-type(3){
	width: 15%;
}
.buger-container .main .project-list .bug-list-head>div:nth-of-type(4),
.buger-container .main .project-list .bug-list-item>div:nth-of-type(4){
	width: 15%;
}
.buger-container .main .project-list .bug-list-head>div:nth-of-type(5),
.buger-container .main .project-list .bug-list-item>div:nth-of-type(5){
	width: 10%;
}

.create-project-dialog{
	padding: 20px 0 10px;
	background: #fff;
	width: 600px;
	height: 440px;
	border-radius: 4px;
}
.create-project-dialog .head{
	height: 32px;
	padding: 0 20px;
}
.create-project-dialog .body{
	height: 320px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 20px;
}



/*========================详情页的列表========================*/
.buger-container .main .project-bug-list .bug-list-head{
	height: 50px;
	color: #999;
}
.buger-container .main .project-bug-list .bug-list-item{
	padding: 0 8px;
	min-height: 50px;
	color: #333;
}
.buger-container .main .project-bug-list .bug-list-item:hover{
	cursor: pointer;
	background: #f2f2f2;
}
.buger-container .main .project-bug-list .bug-list-head>div:nth-of-type(1),
.buger-container .main .project-bug-list .bug-list-item>div:nth-of-type(1){
	width: 15%;
}
.buger-container .main .project-bug-list .bug-list-head>div:nth-of-type(2),
.buger-container .main .project-bug-list .bug-list-item>div:nth-of-type(2){
	width: 65%;
	padding: 10px 15px 10px 0;
}
.buger-container .main .project-bug-list .bug-list-head>div:nth-of-type(3),
.buger-container .main .project-bug-list .bug-list-item>div:nth-of-type(3){
	width: 10%;
}
.buger-container .main .project-bug-list .bug-list-head>div:nth-of-type(4),
.buger-container .main .project-bug-list .bug-list-item>div:nth-of-type(4){
	width: 10%;
}



/*列表*/
.bug-list{
	position: relative;
}
.bug-list .bug-list-head{
	padding: 0 8px;
	border-bottom: 1px solid #ececec;
	display: flex;
	align-items: center;
	font-size: 14px;
}
.bug-list .bug-list-head>div{
	display: flex;
}
.bug-list .bug-list-body{
	position: relative;
}
.bug-list .bug-list-body .bug-list-item{
	display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
    font-size: 12px;
}
.bug-list .bug-list-body .bug-list-item>div{
	display: flex;
}


/*按钮*/
.bug-btn{
	border: 10px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: 14px;
    font-weight: inherit;
    position: relative;
    z-index: 1;
    height: 36px;
    line-height: 36px;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    user-select: none;
    overflow: hidden;
    text-align: center;
    width: auto;
    box-shadow: rgba(74, 74, 74, 0.4) 0px 1px 2px 0px;
    color: #fff;
}
.bug-btn.blue600{
	background: #1E88E5;
}
.bug-btn.red600{
	background: #E53935;
}
.bug-btn.grey600{
	background: #757575;
}



/*input输入框*/
.input-field{position: relative;margin: 30px 0;display: flex;align-items: center;}
.input-field>label{display: inline-block;width: 110px;font-size: 12px;color: #9B9B9B;text-align: right;margin-right: 16px;}
.input-field>input{height: 36px;border: none;outline: none;padding: 0 6px;border-bottom: 1px solid #ccc;flex-grow: 1;}
.input-field>textarea{flex-grow: 1;height: 80px;resize: none;overflow-y: auto;padding: 5px;outline: none;}
.input-field .radio{display: flex;align-items: center;}
.input-field .radio input[type='radio']{margin-right: 5px;}
.input-field .radio>label{display: inline-block;font-size: 12px;color: #444;padding-right: 20px;}
.input-field select{flex-grow: 1;}
.input-field button{width: 100%;height: 36px;border: none;background: #448aff;border-radius: 4px;color: #fff;outline: none;cursor: pointer;}
.input-field .input-error{font-size: 14px;color: red;position: absolute;width: 100%;left: 0;top: 100%;padding: 2px 6px;}




